body {
    background-color: gray;
}
header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    background-color: black;
}

.logo {
    margin-left: 99px;
    margin-top: 24px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    margin-right: 70px;
    gap: 40px;
}

.flex-container a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.flex-container a:hover{
    color: gray;
    cursor: pointer;
}

.fa-bars {
    display: none !important;
    font-size: 20px;
    color: #636060; 
} 

.banner {
    background-image: url(../images/mtiuluri.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 90.84px;
    color: white;
}

.history h2 {
    margin-top: 50px;
    margin-left: 650px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 90.84px;
    color: black;
}

.history1 img {
    margin-left: 150px;
}

.history h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21.84px;
    width: 80%;
    margin-left: 150px;
    margin-top: 30px;
}

.history2 {
    background-image: url(../images/aboutus2.png);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
}

.fotoebi {
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto {
    height: 70vh;
}

.foto1 {
    margin-left: 25px;
    width: 50%;
}

.history3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.history3 h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21.84px;
    width: 70%;
    margin-left: 160px;
    margin-top: 30px;
}

.history3 img {
    width: 400px;
    margin-right: 150px;
}

.video {
    margin-left: 100px;
    margin-top: 50px;
}

footer {
    margin-top: 20px;
    background-color: black;
    width: 100%;
    height: 400px;
    padding: 50px;
}

.left2 {
    width: 30%;
    margin-left: 25px;
    margin-right: 80px;
}

.left2 img {
    width: 150px;
    margin-bottom: 25px;
}

.left2 p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21.84px;
    color: white;
}

.left2 a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 20px;
} 


.right2 {
    display: flex;
    align-items: center;
    gap: 50px;
}

.right2 h2 {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 30px;
}

.navs {
    width: 30%;
}

.navs p {
   color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-bottom: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navs a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
   font-family: 'Roboto', sans-serif;
   font-size: 17px;
 }

 .navs h4 {
   font-family: 'Roboto', sans-serif;
   font-size: 17px;
   background-color: white;
 }

 .navs a:hover {
    color: blue;
    cursor: hover;
 }

