@media screen and (max-width: 1250px) {
    .flex-container {
        margin-right: 70px;
        gap: 20px;
    }
}

@media screen and (max-width: 1120px) {
    .flex-container div {
        display: none;
    }
    .fa-bars {
        display: block !important;
        color: gold;
        margin-right: 100px;
      }
}

@media screen and (max-width: 750px) {
    .logo {
        width: 35%;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        width: 30%;
    }
    .fa-bars {
        font-size: 15px;
        margin-left: 60px;
      }
}


@media screen and (max-width: 400px) {
    .logo {
        width: 15%;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 60px;
    }

    p {
        padding-top: 8px;
    }
}

@media screen and (max-width: 550px) {
    .banner h1 {
        font-size: 40px;
    }

    .banner p {
        padding-top: 0px;
    }
}

@media screen and (max-width: 400px) {
    .banner h1 {
        font-size: 25px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .boxes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .more a {
        margin-top: 20px;
        font-size: 20px;
        padding-bottom: 20px;
    }
    
}

@media screen and (max-width: 650px) {
    h4 {
        font-size: 25px;
    }
    
    h5 {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 300px) {
    .box img {
        width: 80%;
        height: 195px;
        object-fit: cover;
    }

    .box h4 {
        font-size: 15px;
    }
    
    .box p {
        font-size: 9px;
    }

    
}

@media screen and (max-width: 1350px) {
    .box1 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        width: 350px;
        height: 400hv;
    } 
}

@media screen and (max-width: 1050px) {
    .box1 {
        margin-top: 25px;
        width: 250px;
        height: 300hv;
    } 
}

@media screen and (max-width: 750px) {
    .aboutus a {
        margin-top: 7px;
        font-size: 30px;
    } 
    
    .boxes2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .box1 {
        margin-top: 25px;
        width: 400px;
        height: 250hv;
    } 
}

@media screen and (max-width: 1450px) {
    
.left h2 {
    font-size: 13px;
}

.left p {
    font-size: 10px;
}

.right h2 {
    font-size: 13px;
}

.right p {
    font-size: 10px;
}

}

@media screen and (max-width: 950px) {
    
    .left h2 {
        font-size: 10px;
    }
    
    .left p {
        font-size: 7px;
    }
    
    .right h2 {
        font-size: 10px;
    }
    
    .right p {
        font-size: 7px;
    }
    .cards a {
    font-size: 13px;
    }

}

@media screen and (max-width: 800px) {
    .afishebi img  {
        width: 30%;
        margin-left: 14px;
    } 
}

@media screen and (max-width: 450px) {
    .afishebi img  {
        width: 30%;
        margin-left: 11px;
    } 
}

@media screen and (max-width: 1000px) {
    footer {
        height: 900px;
    }

    .flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
    
}

@media screen and (max-width: 750px) {
    footer {
        height: 1600px;
    }

    .right2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 45px;
    }

    .flex {
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
}

@media screen and (max-width: 650px) {
    footer {
        height: 2000px;
    }

    .navs h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        background-color: white;
      }
}

@media screen and (max-width: 500px) {
    footer {
        height: 2500px;
    }
}