@media screen and (max-width: 1250px) {
    .flex-container {
        margin-right: 70px;
        gap: 20px;
    }
}

@media screen and (max-width: 1120px) {
    .flex-container div {
        display: none;
    }
    .fa-bars {
        display: block !important;
        color: gold;
        margin-right: 100px;
      }
}

@media screen and (max-width: 750px) {
    .logo {
        width: 35%;
    }
}


@media screen and (max-width: 500px) {
    .logo {
        width: 30%;
    }
    .fa-bars {
        font-size: 15px;
        margin-left: 60px;
      }
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 60px;
    }

    p {
        padding-top: 8px;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 40px;
    }

    p {
        padding-top: 0px;
    }
}

